body {
	text-align: center;
}

#header {
	margin: 0;
	vertical-align: middle;
	padding: 5rem 0;
	background-color: #333;
	color: #eee;

	img.logo {
		width: auto;
		display: inline-block;
		height: 12rem;
	}

	p.catchphrase {
		margin-top: 2rem;
		font-size: 1.3rem;
		font-feature-settings: "palt" 1;
	}
}

#about {
	background: #ef5350;
	padding: 5rem 0;
	color: #FAFAFA;
	padding-right: 30%;
	text-align: right;
}

#activity {
	background: #26A69A;
	color: #FAFAFA;
	padding: 5rem 0;
	padding-left: 30%;
	text-align: left;
}

#invitation {
	background: #FFF9C4;
	color: #333;
	text-align: center;
	padding: 5rem 0;
}

@media only screen and (max-width: 800px) {
	#about, #activity {
		padding: 2rem 0.2rem; 
		text-align: center;
	}
}