body {
	margin: 0;
	font-family: -apple-system, "Helvetica Neue", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;

	font-feature-settings: "pkna" 1;
}

h1 h2 h3 h4 h5 h6 {
	margin: 2.5rem 0;
}

p {
	font-size: 14pt;
	margin: 1.4rem 0;
	line-height: 2.2rem;
}

.nowrap {
	display: inline-block;
}

// index.html
@import "index.scss";

// grid system
@import "grid.scss";