body {
	margin: 0;
	font-family: -apple-system, "Helvetica Neue", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

.axella {
	&.logo {
		&.primary {
			width: 9rem;
			height: 9rem;
			background: url("/assets/primary_logo.png");
			background-size: 100% 100%;
			position: relative;
		}

		&.secondary {
			width: 9rem;
			height: 9rem;
			background-image: url("/assets/secondary_logo.png");
			position: relative;
		}
	}
}


.header {
	margin: 0;
	vertical-align: middle;
	padding: 5rem 0;
	background-color: #333;
	text-align: center;
	color: #eee;

	img.logo {
		width: auto;
		display: inline-block;
		height: 12rem;
	}

	p.catchphrase {
		margin-top: 2rem;
		font-size: 1.3rem;
		font-feature-settings: "palt" 1;
	}

}