include _mixins

mixin css(url)
	link(rel="stylesheet", href=`${url}.css`)
mixin js(url)
	script(src=`${url}.js`)

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		block title
		+css("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min")
		+css("css/bundle")
		block css
		block head
	body
		block body
		
		footer#footer
			p (C)2018 Axella -アクセラ-
			.container
				.row
					.col-5.footer-left
						ul
							li: a(href="http://github.com/AxellaHQ/website") リポジトリ
							li: a(href="http://github.com/AxellaHQ/website/issues") 不具合報告
							li: a(href="http://twitter.com/xeltica") @Xeltica
					.col-2.footer-middle
						img(src="assets/secondary_logo.png")
					.col-5.footer-right

		block script