extends _layout

block title
	title Axella - アクセラ -

block body
	header#header
		img.logo(src="/assets/primary_logo.png", alt="Axella")
		p.catchphrase みんなの好きを、加速しよう。
	section#about
		h1 好きをずっと続けよう。
		p
			span.nowrap 人は何かしら好きなことを
			span.nowrap 持っているはず。
		p
			span.nowrap でも、好きなことを継続していくのは
			span.nowrap 意外と難しいことです。
		p
			span.nowrap Axella は、そんな人の
			span.nowrap
				b 「好き」
				| をずっと続けることを目標に、
			span.nowrap: time 2018年7月19日
				| に設立されました。
		p
			span.nowrap Axella という言葉は、
			span.nowrap 加速するという
			span.nowrap 意味の
			span.nowrap 「アクセラレーション」と、
			span.nowrap 管理人(Xeltica)の
			span.nowrap 名前から
			span.nowrap 作られた
			span.nowrap 造語です。
	section#activity
		h1 自由なグループ活動
		p 
			span.nowrap メンバーはSlackチームにて、
			span.nowrap オリジナルの音楽や
			span.nowrap 絵の批評を行ったり、
			span.nowrap トピックに
			span.nowrap 縛られることのない
			span.nowrap 雑談をしたり、
			span.nowrap ひたすら駄洒落を
			span.nowrap 書き込んだり、
			span.nowrap 多彩な活動をしています。
		p 
			span.nowrap また、
			span.nowrap Discord支部では
			span.nowrap ゲーム好きが
			span.nowrap 集まって
			span.nowrap マインクラフトなどで
			span.nowrap マルチプレイを楽しんでいます。
	section#invitation
		h1 参加してみませんか？
		p 
			span.nowrap Axella は現在、
			span.nowrap 承認制の形を
			span.nowrap 取っています。
		p
			span.nowrap 参加希望の方は、
			span.nowrap
				a(href="http://twitter.com/Xeltica") 管理人
				| に
			span.nowrap リプライするか
			span.nowrap DMを
			span.nowrap 送ってください。