extends _layout

block title
	title Axella - アクセラ -

block body
	header#header
		img.logo(src="/assets/primary_logo.png", alt="Axella")
		p.catchphrase みんなの好きを、加速しよう。
	section#about
		h1 好きをずっと続けよう。
		p 人は何かしら好きなことを持っているはず。でも、好きなことを継続していくのは意外と難しいことです。
		p Axella は、そんな人の
			b 「好き」
			| をずっと続けることを目標に、
			time 2018年7月19日
			| に設立されました。
		p 
			span.nowrap Axella という言葉は、加速するという意味の「アクセラレーション」と、
			span.nowrap 管理人(Xeltica)の名前から作られた造語です。
	section#activity
		h1 自由気ままなグループ活動
		p 
			span.nowrap メンバーはSlackチームにて、オリジナルの音楽や絵の批評を行ったり、
			span.nowrap トピックに縛られることのない雑談をしたり、
			span.nowrap ひたすら駄洒落を書き込んだり、多彩な活動をしています。
		p また、Discord支部ではゲーム好きが集まってマインクラフトなどでマルチプレイを楽しんでいます。
	section#invitation
		h1 参加してみませんか？
		p Axella は現在、承認制の形を取っています。参加希望の方は、
			a(href="http://twitter.com/Xeltica") 管理人
			| に直接リプライかDMを送ってください。