doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Axella -アクセラ-
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css")
		link(rel="stylesheet", href="css/grid.css")
		link(rel="stylesheet", href="css/style.css")
		
	body

	h1 Hello
	p#test This paragraph will be replaced by script
	p.red 赤
	p.green 緑
	p.blue 青
	p ほげほげ

	script(src="js/main.js")